:root {
  --primary: #c9922c;
  --second: #a88c66;
  --background: #fff7e8;
  --text-color: #402e32;
  }

body {
  font-family: "Afacad Flux", serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: var(--background);
  color: var(--text-color);
}

a {
 color: #fff;
 text-decoration: none;
 cursor: pointer;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb)) !important;
}

.row img {
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

img {
  cursor: pointer;
  transition: scale 0.5s;
}

.img-fluid:hover {
  scale: 1.03;
}

.container {
  margin: 20px auto;
  padding: 20px;
  max-width: 900px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  width: 100%;
  height: 65px;
  background-color: var(--primary);
  align-items: center;
  justify-content: space-evenly;
}

.title {
  text-align: center;
  margin-top: 0px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 10px;
  background: #333;
  color: white;
  margin-top: 20px;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.description-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

.image-container:hover .description-overlay {
  opacity: 1;
}